@{
    ViewData["Title"] = "Lägg till ny att göra";
}

  <form action="">
        <label for="title">Titel</label>
        <input type="text">

        <label for="deadline">Deadline</label>
        <input type="datetime-local" name="deadline" id="deadline">

        <button type="submit">Lägg till</button>
       </form>