@{
    ViewData["Title"] = "Att göra lista";
}


<div class="todo">
    <label for="item" class="container">
        <input type="checkbox" name="item" id="item">
        Titel på att göra
        <span class="checkmark"></span>
    </label>
    <p>2025/02/10, kl 10.00</p>
    <div class="controls">
        <button>Radera</button>
        <button>Ändra</button>
    </div>
</div>